*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f8f9f8;
color:#333;
}

.topnav{
background:white;
padding:15px 20px;
display:flex;
gap:15px;
align-items:center;
border-bottom:1px solid #eee;
}

.topnav h1{
font-size:24px;
font-weight:600;
}

.topnav input{
flex:1;
padding:8px 12px;
border:1px solid #ccc;
border-radius:6px;
}

.container{
max-width:600px;
margin:30px auto;
padding:0 15px;
}

.add-task{
display:flex;
gap:10px;
margin-bottom:20px;
flex-wrap:wrap;
}

.add-task input,
.add-task select{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
flex:1;
}

.add-task button{
background:#ff5252;
color:white;
border:none;
padding:10px 16px;
border-radius:6px;
cursor:pointer;
font-weight:600;
}

.add-task button:hover{
background:#e04848;
}

ul{
list-style:none;
}

li{
background:white;
padding:12px 15px;
border-radius:8px;
margin-bottom:10px;
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid #ddd;
}

li.completed .text{
text-decoration:line-through;
opacity:0.6;
}

.text{
flex:1;
}

.priority-high{
color:#d32f2f;
font-weight:600;
}

.priority-medium{
color:#f57c00;
font-weight:600;
}

.priority-low{
color:#388e3c;
font-weight:600;
}

button.small{
background:#777;
padding:6px 10px;
font-size:12px;
border-radius:6px;
color:white;
border:none;
cursor:pointer;
margin-left:8px;
}

button.small:hover{
opacity:0.8;
}
/* STARTUP PAGE */

.startup-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#f8f9fb,#ffffff);
text-align:center;
}

.startup-container{
padding:40px;
}

.startup-title{
font-size:60px;
font-weight:bold;
margin-bottom:20px;
color:#111827;
}

.startup-text{
color:#666;
margin-bottom:30px;
font-size:18px;
}

.startup-button{
background:#111827;
color:white;
padding:15px 35px;
border:none;
border-radius:10px;
font-size:18px;
cursor:pointer;
transition:0.3s;
}

.startup-button:hover{
transform:scale(1.05);
  }
.banner{
background:white;
padding:30px;
border-radius:14px;
box-shadow:0 4px 20px rgba(0,0,0,0.05);
margin-bottom:30px;
text-align:center;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-bottom:30px;
}

.footer{
text-align:center;
padding:30px;
color:#666;
}
